# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
.editorconfig
.ember-cli
.eslintrc.js
.idea/workspace.xml
.travis.yml
.watchmanconfig
README.md
app/
config/
ember-cli-build.js
package.json
public/
testem.js
tests/
vendor/
